

@media screen and (max-width: 500px) {
    .container {
        font-size: 14px;
    }
}

/* ============================================== */
#about{
  background-image: url(../../assets/pic-bg.png);
}


.about__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.about__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 2px solid transparent;
    transition: var(--transition);
}



.about__item {
  position: relative;
  overflow: hidden; /* Ensure the pseudo-element doesn't overflow the parent */
  background-color: #416881; /* Default background color */
  background: var(--color-bg-variant);
}

.about__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--color-primary-variant), var(--color-primary-variant));
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  z-index: 1; /* Ensure it appears above the original background */
}

/* .about__item:hover::before {
  transform: translateY(0);
} */


.about__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.about__item h3 {
    margin: 1.2rem 0 2rem;
}

.about__item-cts {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


.social_links{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 1rem;
}


/* ====================Dog Pic========*/
/* aboutCard.css */
.about-card {
  background-color: #1a1b2f;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  border-radius: 2rem;
  position: relative;
  background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 2px solid transparent;
    transition: var(--transition);
}
.about-card:hover {
    border-color: var(--color-primary-variant);
    background: #416881;
    transition: background-color 0.3s ease;
}

.about-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}

.dog-image {
  position: absolute;
  top: -75px;
  left: 100px;
  
}

.dog-image img {
  width: 120px;
  height: auto;
}

.about-card-details {
  margin-left: 0px;
}

.about-card__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    margin-bottom: 20px;
}

.about-card__social_links{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 30px;
}
.about-card-amount {
  font-size: 24px;
  margin: 5px 0;
}

.about-card-growth {
  display: flex;
  align-items: center;
}

.growth-icon {
  margin-right: 5px;
}

/* ====================Dog Pic========*/

/* =======================Media Queries (Medium Devices)================================ */
@media screen and (max-width:1024px) {
    .about__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* =======================Media Queries (Medium Devices)================================ */
@media screen and (max-width:600px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

